{% extends 'chat/base.html' %}
{% block title %}
<title>لیست گروه ها</title>
{% endblock title %}

{% block content %}
<h1>لیست تمام گروه ها</h1>
<ul>
  {% for group_name in page_obj %}
  <a href="{% url 'index' %}{{ group_name }}">
    <li>{{ group_name }}</li>
  </a>
  {% endfor %}
</ul>

<div class="pagination" >
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; اولین</a>
    <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">آخرین &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock content %}