{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock style %}

{% block title %}
<title>گفتگو کن</title>
{% endblock title %}
{% block content %}
<div class="search">
  <h3 class="hint">وارد گروهی که دوست داری بشو</h3>
  <input class="form-control group-input" id="room-name-input" type="text" size="100"
    placeholder="اسم گروه رو اینجا بنویس" /><br />
  <input class="btn btn-primary submit-btn" id="room-name-submit" type="button" value="بزن بریم" />
</div>

{% if user.is_authenticated %} {% if your_groups_len %}
<h1 class="title">گروه های شما</h1>
<ul>
  {% for group_name in your_groups %}
  <a href="{% url 'index' %}{{ group_name }}">
    <li class="btn btn-outline-success custom-btn">{{ group_name }}</li>
  </a>
  {% endfor %}
</ul>
{% endif %} {% endif %}

<h1 class="title">داغ ترین گروه ها</h1>
<ul>
  {% for group_name in best_groups %}
  <a href="{% url 'index' %}{{ group_name }}">
    <li class="btn btn-outline-danger custom-btn">{{ group_name }}</li>
  </a>
  {% endfor %}
</ul>

<h1 class="title">آخرین گروه ها</h1>
<ul>
  {% for group_name in last_groups %}
  <a href="{% url 'index' %}{{ group_name }}">
    <li class="btn btn-outline-primary custom-btn">{{ group_name }}</li>
  </a>
  {% endfor %}
</ul>
<script>
  document.querySelector("#room-name-input").focus();
  document.querySelector("#room-name-input").onkeyup = function (e) {
    if (e.keyCode === 13) {
      // enter, return
      document.querySelector("#room-name-submit").click();
    }
  };

  document.querySelector("#room-name-submit").onclick = function (e) {
    var roomName = document.querySelector("#room-name-input").value;
    if (roomName === "") {
      var roomName = "welcome"
    }
    window.location.pathname = "/chat/" + roomName + "/";
  };
</script>
{% endblock content %}