{% extends 'base.html' %}

{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/auth.css' %}" />
{% endblock style %}

{% block title %}
<title>نیوچت - ثبت نام</title>
{% endblock title %}


{% block content %}

<h1 class="page-label">ثبت نام</h1>

{% if request.GET.next %}
<h2 class="warning">
  برای ادامه ابتدا
  <a style="text-decoration: none" href="{% url 'auth:login' %}?next={{ request.GET.next }}">
    <b style="color: #0275d8">وارد</b>
  </a>
  شوید یا
  <b style="color: #42ba96">ثبت نام</b>
  کنید
</h2>
{% endif %}

<form class="auth-form" action="" method="post">
  <div class="error">{{ form.errors }}</div>
  {% csrf_token %}
  <div class="input-container">
    <label for="">نام کاربری</label>
    <input type="text" class="form-control" name="username" maxlength="150" autocapitalize="none"
      autocomplete="username" autofocus required id="id_username" placeholder="یک نام برای خود مشخص کنید" />
  </div>
  <div class="input-container">
    <label for="">رمز عبور</label>
    <input type="password" class="form-control" name="password1" autocomplete="new-password" required id="id_password1"
      placeholder="برای خود رمز عبوری وارد کنید" />
  </div>
  <div class="input-container">
    <label for="">تکرار رمز عبور</label>
    <input type="password" class="form-control" name="password2" autocomplete="new-password"
      required id="id_password2" placeholder="رمز عبور قبلی را دوباره تکرار کنید" />
  </div>
  {% if request.GET.next %}
  <input type="hidden" name="next" value="{{ request.GET.next }}" />
  {% endif %}
  <button id="register" class="btn btn-primary auth-btn neighbor-btn large-btn">
    ثبت نام
  </button>
  <div style="margin-top: 60px">
    <h3 style="margin-bottom: 15px">
      اگر قبلا <b>ثبت نام کردید</b> وارد حساب تان شوید
    </h3>
    <a href="{% url 'auth:login' %}">
      <button type="button" class="btn btn-success large-btn">
        ورود به حساب
      </button>
    </a>
  </div>
</form>

{% endblock content %}