@font-face {
  font-family: "IRAN Sans";
  src: url("../assets/IRANSansWeb.woff2") format("woff2");
}

body {
  margin-top: 20px;
  background: #eee;
  font-family: "IRAN Sans", sans-serif;
}

.row.row-broken {
  padding-bottom: 0;
}

.col-inside-lg {
  padding: 20px;
}

.chat {
  height: calc(100vh - 180px);
}

.decor-default {
  background-color: #ffffff;
}

.chat-users h6 {
  font-size: 20px;
  margin: 0 0 20px;
}

.chat-users .user {
  position: relative;
  padding: 0 0 0 50px;
  display: block;
  cursor: pointer;
  margin: 0 0 20px;
}

.chat-users .user .name {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-users .user .mood {
  font: 200 14px/20px "Raleway", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*****************CHAT BODY *******************/
.chat-body h6 {
  font-size: 20px;
  margin: 0 0 20px;
}

.chat-body .answer.left {
  padding: 0 0 0 58px;
  text-align: left;
  float: left;
}

.chat-body .answer {
  position: relative;
  max-width: 600px;
  overflow: hidden;
  clear: both;
}

.chat-body .answer .name {
  font-size: 14px;
  line-height: 36px;
}

.chat-body .answer.left .text {
  background: #d4d4d4;
  color: #333333;
  border-radius: 8px 8px 8px 0;
}

.chat-body .answer .text {
  padding: 12px;
  font-size: 16px;
  line-height: 26px;
  position: relative;
}

.chat-body .answer.left .text:before {
  left: -30px;
  border-right-color: #ebebeb;
  border-right-width: 12px;
}

.chat-body .answer .text:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  border: 18px solid transparent;
  border-bottom-width: 0;
}

.chat-body .answer.left .time {
  padding-left: 12px;
  color: #333333;
  direction: ltr;
}

.chat-body .answer .time {
  font-size: 16px;
  line-height: 36px;
  position: relative;
  padding-bottom: 1px;
}

/*RIGHT*/
.chat-body .answer.right {
  padding: 0 58px 0 0;
  text-align: right;
  float: right;
}

.chat-body .answer.right .text {
  background: #7266ba;
  color: #ffffff;
  border-radius: 8px 8px 0 8px;
}

.chat-body .answer.right .text:before {
  right: -30px;
  border-left-color: #7266ba;
  border-left-width: 12px;
}

.chat-body .answer.right .time {
  padding-right: 12px;
  color: #333333;
  direction: ltr;
}
